 table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
  }
  
  table.mypage th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
  }
  table.mypage td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
  }

  table.mypage{
      text-align: center;
      font-size: large;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #666;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    margin-top: 60px;
  }